.commodity-detail{
    padding: 0.44rem 0.32rem 0;

    .title{
        height: 0.54rem;
        font-size: 0.42rem;
    }

    .price{
        height: 0.46rem;
        font-size: 0.38rem;
        color: #ff6700;
    }
}